<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.author.name }}">
  {%- include title.html -%}
  {{ site.head_code }}
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="description" content="{{ page.description }}">
  {%- include assets.html -%}
  {%- if site.rss %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.rss }}" />
  {% endif -%}
  <style>
    @media (prefers-color-scheme: dark) {
      body{
        color:#eee;
        background-color:#333;
          }
      .header{color:#eee;}
      .post__archive_path{color:#eee;}
      h4{color:#eee;}
      h1{color:#eee;}
      h2{color:#eee;}
      h3{color:#eee;}
      td{color:#222;}
      p{color:#eee;}
    }
  </style>
</head>
